.Household {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    justify-content: space-between;
    align-content: space-between;
    padding: 40px;
}

