
/*CLASSNAME FOR ALL EVENT FORMS*/
/* .addEventForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    justify-content: center;
    justify-items: stretch;
    width: 60vw;
    margin: 0 auto;
    max-height: 72vh;
}

.addEventFormTitle {
    font-size: 40px;
    padding: 15px 0 15px 0;
}

.addEventForm .formField {
    padding: 15px 5px;
}

.addEventForm .addEventFormLabel {
    font-size: 25px;
    padding: 5px;
    display: inline-block;
    margin: 0px 5px;
}

.addEventForm .selectPetDropDown {
    width: 75%;
    max-width: 360px;
    display: block;
    margin: 0px auto;
    font-size: 25px;
    font-family: inherit;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    padding: 15px 15px;
    height: 60px;
}

#vetEventDate {
    width: 75%;
    max-width: 360px;
    height: 60px;
}

.addEventForm .addEventInput {
    padding: 15px;
    margin: 8px 0;
    width: 75%;
    max-width: 360px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    font-family: inherit;
    font-size: 25px;
    height: 60px;
}

#eventNotes {
    grid-column-start: 1;
    grid-column-end: 2 span;
}

#inlineEventNotes {
    grid-column-start: 2;
    grid-column-end: 2;
}

.addEventForm .vetEventNotes {
    padding: 15px;
    margin: 8px 0;
    width: 100%;
    max-width: 360px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    font-family: inherit;
    font-size: 25px;
    height: 160px;
}

#eventSubmitButton {
    padding: 10px 15px;
    margin: 15px 10px;
    font-size: 18px;
    font-family: inherit;
    border-radius: 5px;
    border-width: thin;
    border-color: #011936;
    width: 100px;
} */

#addEventForm {
    display: inline-grid;
    margin: 0 auto;
    width: 55vw;
    height: 85vh;
    grid-template-columns: 1fr;
    grid-template-rows: .75fr 1fr 1fr 1fr 1fr;
    gap: 10px 10px;

}

.addEventTitle, .addEventTitle h1 {
    font-size: 40px;
    margin: auto;
}

.addEventFormLabel {
    font-size: 25px;
    padding: 3px 30px;
    display: inline-block;
    margin: auto;
}

.addEventSelect, .addEventInput {
    width: 75%;
    max-width: 360px;
    display: block;
    margin: 0px auto;
    font-size: 25px;
    font-family: inherit;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    padding: 15px 15px;
    height: 60px;
}

#addEventSelectDiv {
    width: 90%;
    margin: 0 auto;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    /* max-height: 25vh; */
}

/* #addEventSelectionDiv {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
} */

.formRenderDiv {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* container */
#eventNotes {
    display: grid;
    margin: 0 auto;
    width: 90%;
}

.addEventNotes {
    padding: 15px;
    margin: 0 auto;
    width: 75%;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    font-family: inherit;
    font-size: 25px;
    height: 160px;
}

 #eventSubmit {
     display: grid;
 }

 #eventPetSelect, #eventTypeSelect {
    display: block;
 }



#eventSubmitButton {
    margin: 25px auto;
    font-size: 18px;
    font-family: inherit;
    border-radius: 5px;
    border-width: thin;
    border-color: #011936;
    width: 100px;
    height: 50px;
}