/* Styles for eventList.js */
.eventHeader {
    font-size: 40px;
    padding: 15px 0 15px 0;
}

.eventListTable {
    border-spacing: 0 10px;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #011936;
    padding: 10px;
    width: 95%;
    max-width: 100%;
    margin: 0 auto;
}

.eventListTable tr {
    background-color: #FAFAFA;
    height: 40px;
}

.eventListTable td {
    text-align: left;
    padding: 0 7px;
}

.eventDetailsLink {
    background-color: #FAFAFA;
    color: #011936;
    margin: 0 auto;
    text-align: center;
}

.petBriefImgDiv svg {
    font-size: 70px;
    color: #3E454D;
}

/* Styles for eventDetails.js */

#eventListContianer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    max-width: 80%;
    margin: 20px auto;
}

.eventListDiv {
    grid-row: 1 / 3;
}

#eventListPetBrief {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    border: 2px solid #011936;
    border-radius: 25px;
    background-color: #FAFAFA;
    align-items: center;
    height: 250px;
    max-width: 330px;
    position: relative;
    top: 20px;
}

.petBriefName {
    font-size: 35px;
    grid-column: 1 / 2;
    justify-self: end;
    padding: 0 10px;
}

.petBriefImgDiv {
    grid-column: 2 / 3;
    justify-self: start;
    padding: 0 10px;

}

.petBriefBreed {
    font-size: 25px;
    grid-column: 1 / 2;
    justify-self: end;
    align-self: start;
    padding: 0 15px;

}

.petBriefAge {
    font-size: 25px;
    grid-column: 2 / 3;
    justify-self: start;
    align-self: start;
    padding: 0 15px;

}

.petBriefImg {
    max-height: 75px;
}

/* Styles for children components medicationDetails.js & veterinaryGroomingDetails.js */

.eventDetails {
    max-width: 65%;
    width: auto;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 10px;
    justify-items: center;
    margin: 0 auto;
    align-items: center;
}

.eventSummaryContainer {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
}

.eventSummaryContainer p {
    font-size: 25px;
    padding: 7px;
    justify-self: center;
    padding: 15px 10px;
}

.ownerNotes {
    grid-row: 3 / 4;
    align-self: center;
}

#eventDetailsContainer, .eventDetailsPageLink {
    font-size: 25px;
    color: #011936;
    padding: 15px;
}

#eventDetailsContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    max-width: 80%;
    height: 60vh;
    margin: 0 auto;
    align-items: center;
}

#eventDetailsContainer, .linkContainer {
    grid-row: 2 / 3;
}

.eventDetailsComponent {
    grid-row: 1 / 2;
}

.eventDetailsPageLink {
    text-decoration: underline;
}