* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  color: #011936;
  background-color: #E8E8E8;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* a {
    text-align: right;
    color: #FAFAFA;
    text-decoration: none;
} */

.PetPictureFrame svg {
    font-size: 100px;
    color: #3E454D;
}
